/* right margin styles */

#rightMarginContainer {
    height: 90%;
    width: 100px;
    position: fixed;
    right: 0px;
    text-align: center;
    bottom: -130px;
    opacity: 0;
    animation: slideInOnLoadRightm .5s forwards;
    -webkit-animation: slideInOnLoadRightm .5s forwards;
    animation-delay: 3.15s;
}

@keyframes slideInOnLoadRightm {
    0%{
        opacity: 0;
        transform: translateX(15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

#rightLine {
    margin: 48px;
    margin-bottom: 100px;    
    height: 30%;  
    border-left: .5px solid rgb(204, 214, 246);
}

#email {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 150px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 12px;
    color: rgb(168, 178, 209);
    letter-spacing: 1.2px;
    line-height: 15.6;
    transform: rotate(90deg);
    transition: .5s;
    cursor: pointer;
}

#email:hover{
    color: rgb(100, 255, 218);
    font-weight: 500;
    transform: translateY(-10px) rotate(90deg);
}

/* left margin */

#leftMarginContainer{
    position: fixed;
    overflow: hidden;
    bottom: 0px;
    height: 90%;
    width: 100px;
    text-align: center;
    opacity: 0;
    animation: slideInOnLoadLeftm .5s forwards;
    -webkit-animation: slideInOnLoadLeftm .5s forwards;
    animation-delay: 3.15s;
}

@keyframes slideInOnLoadLeftm {
    0%{
        opacity: 0;
        transform: translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

#subContainer{
    position: fixed;
    bottom: 135px;
    height: 50%;
    width: 100px;  
}

#leftLine{
    position: fixed;
    bottom: 0px;
    height: 17%;  
    border-left: .5px solid rgb(204, 214, 246);
}

#gitLink{
    Position: relative;
    top: 285px;
    text-align: center;
    display: block;
}

#gitBtn{
    color: rgb(204, 214, 246);
    width: 25%;
    stroke-width: 1px;
    transition: .5s;
}

#gitBtn:hover { 
    color: rgb(100, 255, 218); 
    transform: translateY(-5px);
    stroke-width: 1.5px;
}

#liLink{
    position: relative;
    top: 300px;
    text-align: center;
    display: block;
}

#liBtn{
    color: rgb(204, 214, 246);
    width: 25%;
    stroke-width: 1px;
    transition: .5s;
}

#liBtn:hover { 
    color: rgb(100, 255, 218); 
    transform: translateY(-5px);
    stroke-width: 1.5px;
}

/* all margins */

@media only screen and (max-width: 1100px) {
    #rightMarginContainer,
    #rightLine,
    #email,
    #leftMarginContainer,
    #subContainer,
    #leftLine,
    #gitLink,
    #gitBtn,
    #liLink,
    #liBtn{
        display: none;
    }
  }